{% extends '::base.html.twig' %}

    {% block title %}My New Title{% endblock %}
    {% block body %}
        {% for i in 1..10 %}
            Hello <strong>{{ name }}</strong> # {{ i }}!
        {% endfor %}
        <h2>Demo Details</h2>
        {{ demo.name }}<br>
        {{ demo.location }}<br>

        {{ demo.details }}
    {% endblock %}
